@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Poppins:ital,wght@1,100&display=swap");

.notification-user {
  display: inline-flex;
  position: relative;
  top: 5px;
  width: 95%;
  padding: 10px 10px 20px 10px;
  margin-bottom: 5px;
  font-style: Inter;
}
.notification-user img {
  margin-right: 5px;
  width: 40px;
}

.notification-profile {
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
  font-style: Inter;
  padding-left: 3px;
  font-weight: lighter;
}
.notification-message {
  padding-left: 3px;
}

.notification-line {
  margin: auto;
  width: 95%;
}
