.Card-Area {
  position: absolute;
  display: flex;
  width: 25%;
  left: 66%;
  overflow: auto;
  background-color: #ffffff;
  animation: mymove 2s 1;
  margin-top: 48px;
  box-shadow: 0 12px 15px 0 rgb(0 0 0 / 25%);
}
@media screen and (min-width: 300px) and (max-width: 1000px) {
  .Card-Area{
    width: 60%;
    height: 3%;
    text-align: center;
    top: 5%;
    right: 10%;
    background-color: #ffffff;
  }
  .noti_p{
    font-size: small;
  }
}