.overallDiv{
  background-color: white;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */  align-items: center;
  margin-top: 40px; 
}
 .resetPassword{
 border-color: black; 
 background-color: #e5e5e5;
 width: 600px;
 height: 100px;
}
.tutor-buddy{
 display: flex;
 padding: 30px;
 justify-content: center;
 background-color: white;
}
.tutor-buddy h3{
 padding-left: 10px;
}
.contain{
margin-bottom: 10px;}
.form-group{
  margin-top: 20px;
}
.form-group input{
/* padding: 8px 16px; */
gap: 10px;
width: 399px;
height: 40px;
color: #FFFFFF;
border: 1px solid #cfcfcf;

}
label{
  color: #050404;
  align-items: left;
  justify-content: left;
}
.learn{
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
  color: #050404;
}
.form-con{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 40px 60px;
gap: 40px;
text-align: left;
width: 550px;
height: 350px;
background: #FFFFFF;

}
.form-cont{
  display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 30px;
gap: 40px;
text-align: left;
width: 600px;
height: 380px;
background: #FFFFFF;
}
.ppp{
text-decoration-style: red;
}
.form-box{
  /* background-color: white; */
  text-align: left;
  max-width: 800px;
  margin: 10px auto;
  padding: 5px 20px;
  background-color: rgb(233, 228, 228);
  border-radius: 22px
}


.form-control{
  border-radius: 15px;
  border: 1px solid #fff;
  border-color: rgb(187, 186, 186);
  width: 300px;
  height:48px;
  padding-left: 10px;
  text-align: left;
}
.form-control2{
  border: 1px solid rgb(233, 228, 228);
  outline: none;
  font-size: 14px;
  padding: 10px;
  width: 100%;
  color: rgb(39, 38, 38);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  margin-bottom: 20px;
  border-radius: 15px;
}
.btn-primary {
color:#fff;
gap: 20px;
width: 400px;
height: 40px;
border: 1px solid #FD2959;
background: #FD2959;
margin-top: 25px;
margin-bottom: 20px;
text-indent: 0%;
border-radius: 15px;
} 
.btn-primary:hover{
  font-weight: 1000;
  background: rgb(184, 0, 0);
}
form p{
  text-align: center;
}
.login a{
  color:red;
  text-decoration:none;
}
.btn{
  color:#FFFFFF;
  text-decoration:none;
}
.astericks{
  color: red;
  font-size: 1.2em;
}