.progress-bar {
    width: 100%;
    transform: scaleY(0.2);
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    align-items: center;
    position: relative;
}

.progress {
    height: 100%;
    background-color: #4CAF50;
    transition: width 0.2s ease-in-out;
    position: absolute;
    left: 0;  
}

