.calendar-container{
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    /* margin-top: 10%; */
    margin-bottom: 10%;
    border: 1px solid rgb(126, 125, 125);
    max-width: 600px;
    /* height: "100%"; */
    color: rgb(51, 50, 50);
}

.calendar-sub-container{
    margin-left: 40px;
    margin-right: 40px; 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start;
}
.return-container{
    margin-top: 10%;
    justify-content: left;
    margin-bottom: 40px;
    color: grey;
   
}
/* .input{
    width: 10px;
    margin-right: 20px;
    background-color: #fd2959;
    padding-right: 20PX;
} */
.calender-return-link{
    text-decoration: none;
    background-color: rgb(236, 234, 234);
    padding: 10px;
    border-radius: 25px;
    color: rgb(33, 32, 32);
}
.calendar-title {
    display: flex;
}

#calendarNote{
    margin-top: 15px;
    margin-bottom: 10px;
    /* color: rgb(33, 32, 32); */
}
 .calendar-table{
    display: flex;
    width: 100%;
    justify-content: space-between;
    /* background-color: blueviolet; */
    
} 
#calendarTitle{
    margin-top: 10px;
    margin-bottom: 15px;
}

.headerDays {
    font-size: 15px;
}
.divMonth{
    /* width: "70%"; */
    /* flex-direction: row; */
    display: flex;
    width: 400px;
    justify-content: space-between;

}
.divCalendarMonth {
    font-size: 15px;
    /* margin-right:10px; */
    color:  #fd2959;
}
.divCalendarDay {
    font-size: 15px;
    /* margin-right:10px; */
    color:  #fd2959;
    /* margin-left: 10px; */
}
.divCalendarHour {
    font-size: 15px;
    /* margin-left:20px; */
    color:  #fd2959;
    
}
.divCalendarMunite {
    font-size: 15px;
    /* margin-left:20px; */
    color:  #fd2959;
}
.months{
    width: 50px;
    height: 70px;
    overflow: scroll;
    /* margin-left: 15px; */
    /* background-color: green; */
}
.days{
    width: 50px;
    height: 70px;
    overflow:scroll;
}
.hours{
    width: 50px;
    height: 70px;
    overflow: scroll
}

.minutes{
    width: 50px;
    height: 70px;
    overflow: scroll;
}
.ampm {
    width: 50px;
    height: 50px;
    overflow: scroll;
     margin-top: 10px;; 
}
.calender-styled-table {
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    max-width: 500px;

}
.calender-styled-table thead tr {
    color: #fd2959;
    text-align: left;
}
.calender-styled-table th{
    padding: 12px 15px;
}
.calender-styled-table td {
    padding: 8px 15px;
}
.saveButton{
    width: 510px;
    height: 45px;
    background-color:  #fd2959;
    margin-bottom: 50px;
    border-color:  #fd2959;
}
.textarea {
    width: 38.3em;
    height: 150px;
    border: 1px solid rgb(193, 192, 192);
    border-radius: 5px;
    margin-bottom: 30px;
}
.linkSave{
    color: white; 
    text-decoration: none;
    font-weight: bold;
   
}
.calendarPlaceholder{
    width: 35.8em;
    /* background-color: #fd2959; */
}


